/* Import Nunito Sans and Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&family=Nunito:wght@700&display=swap');

/* Set font for entire website */
body {
    font-family: 'Nunito Sans', 'sans-serif';
    font-size: 1rem;
}

/* Set font for headings */
h1 {
    font-size: 3.375rem;
    font-weight: 800;
    background: linear-gradient(94.47deg, #0044FF 0%, #0099FF 99.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
}

h3 {
    font-family: Nunito;
    font-size: 1.25rem;
    font-weight: 700;
}

/* Set sizing of Logo  */
.logo {
    height: 48px;
    width: 48px;
}

/* Style navbar */
.navbar-style {
    font-family: 'Nunito';
    font-weight: 700;
    background-color: #f8f8fa;
}

.navbar-style a {
    color: black;
}

.navbar-style a:hover {
    color: #26abff;
}


/* Style Section 1 */
.section-1-bg {
    height: calc(100vh - 74px);
    background-color: #f8f8fa;
}

@media only screen and (min-width: 1025px) {
    .section-1 {
        display: grid;
        grid-template-rows:  1fr [content] 3fr 1fr;
        grid-template-columns: [text] 1fr [section] 1fr;
    }
    
    .main-text {
        grid-row: content;
        grid-column: text;
        max-width: 540px;
    }

    .main-img {
        grid-row: content;
        grid-column: section;
    }
}

.margin-25 {
    margin-bottom: 25px;
}

/* Style Section 2 */
.section-2-bg {
    width: 100vw;
    background-color: #0088ff;
    color: white;
}

.section-2-bg h2 {
    color: white;
    margin: 25px 0;
}

/* Style Section 3 */
.section-3-bg {
    width: 100vw;
    background-color: #f8f8fa;
}

.section-3-bg h2 {
    margin: 25px 0;
}

.works-card {
    max-width: 900px;
    border-radius: 0px;
    border: 1px solid transparent;
    box-shadow: 0 0 16px rgba(249, 61, 89, 0.08);
    margin-bottom: 50px;
}


/* Style Footer */
.footer {
    background-color: #f5f5f5;
}

.footer p {
    margin-top: 16px;
}

#linkedin, #github {
    text-decoration: none;
    margin: 0 5px;
    padding: 2px;
}


#linkedin svg, #github svg {
    height: 1.4rem;
    margin-bottom: 16px;
}

