/* Import Nunito Sans and Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Nunito:wght@600&display=swap');

/* Set font for entire website */
body {
    font-family: 'Nunito Sans', 'sans-serif';
    font-size: 1rem;
}

/* Set font for headings */
h1 {
    font-size: 3.375rem;
    font-weight: 800
}

h2 {
    font-size: 3rem;
    font-weight: 700;
}

/* Set sizing of Logo  */
.logo {
    height: 48px;
    width: 48px;
}

/* Style navbar */
.navbar-style {
    font-family: 'Nunito';
    font-weight: 700;
}

.navbar-style a {
    color: black;
}

.navbar-style a:hover {
    color: #26abff;
}



.logo:hover {
    background: url("../assets/logo-fill.png");
    background-size: 88px 34px;
    background-repeat: no-repeat;
    animation-name: expand;
    animation-duration: 0.9s;
    animation-timing-function: ease;
}

@keyframes expand {
    0% {
        background-size: 0 34px;
    }

    100% {
        background-size: 88px 34px;
    }
}

.footer {
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.footer p {
    margin-top: 16px;
}

#linkedin, #github {
    text-decoration: none;
    margin: 0 5px;
    padding: 2px;
}


#linkedin svg, #github svg {
    height: 1.4rem;
    margin-bottom: 16px;
}

