/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
    font-family: 'Nunito Sans', 'sans-serif';
    font-size: 1rem;
}

.navbar-style {
    font-family: 'Nunito';
    font-weight: 600;
}

.nav-dot {
    padding: 0 2px;
    font-size: 1.5rem;
}

.logo {
    height: 34px;
}

.logo:hover {
    background: url("../assets/logo-fill.png");
    background-size: 88px 34px;
    background-repeat: no-repeat;
    animation-name: expand;
    animation-duration: 0.9s;
    animation-timing-function: ease;
}

@keyframes expand {
    0% {
        background-size: 0 34px;
    }

    100% {
        background-size: 88px 34px;
    }
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}